$primary-1: #3c71a7;

$secondary-1: #595959;

$danger-1: #e60003;

$success-8: #299f01;

$warning-5: #ffc53d;

$dust: #f5222d;
$gold: #bf9425;
$blue: #094067;
$white: #fff;
$black: #000;
$gray-1: #c4c4c4;
$neutra-3: #f5f5f5;
$neutra-2: #fafafa;
$neutra-5: #d9d9d9;
$dustRed-1: #fff1f0;
$dustRed-2: #ffccc7;
$white-100: #f5f5f5;

// shadow
$card-hover: 0px 8px 8px rgba(0, 0, 0, 0.08);
$card-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
$card-active: 0px 8px 8px rgba(0, 0, 0, 0.16);
$button-hover: 0px 8px 8px rgba(83, 67, 53, 0.08);
$button-diable: 0px 8px 8px rgba(83, 67, 53, 0.08);
$search-contant: 0px 16px 20px rgba(0, 0, 0, 0.02);
$input-focus: 0px 0px 0px 2px rgba(71, 57, 45, 0.2);
$input-error: 0px 0px 0px 2px rgba(241, 67, 54, 0.2);
$slidbar-tablet: 0px 8px 8px rgba(93, 76, 60, 0.16);

// rgba colors
$rgba-01: rgba(105, 95, 85, 0.1);
$rgba-25: rgba(0, 0, 0, 0.25);
$rgba-65: rgba(0, 0, 0, 0.65);
$rgba-85: rgba(0, 0, 0, 0.85);
$primary-1-rgba: rgba(156, 152, 146, 0.2);
